body {
    position: relative;
    background-color: #191433;
}

#back-ground {
    background-image: url('../img/camp.jpg');
    background-size: cover;
    height: 800px;
    width: 100%;
}
#white-ground {
    background-image: url('../img/white.png');
    background-size: cover;
    height: 800px;
    width: 100%;
}
.title {
    font-family: 'Ubuntu', serif;
    font-size: 40px;
    font-weight: 400;
}

.content {
    width: 1200px;
    margin: 0 auto;
}
header {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 70%;
    position: fixed;
    top: 0px;
    left: 0px;
}

header .content {
    display: flex;
    justify-content: space-between;
}
.text {
    color: rgb(14, 9, 53);
    text-decoration: none;
}
#nav {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}
.section {
    font-family: 'Ubuntu', serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    padding: 5px;    
    margin: 5px;
}

.container {
    position: relative;
    z-index: 1;
    display: inline-block;
}
#aboutc {
    width:100%;
    height:100%;
    position:absolute;
}

.column {
    position: absolute;
}

.sec-container {
  position:relative;
  height: 100%;
  width: 100%;
}
.columnpic {
    top: 0;
    bottom: 0;
    right: 50%;
    left: 0;
    padding-left: 100px;
}

.columnabout {
    top: 20%;
    bottom: 0;
    right: 0;
    left: 50%;
    padding-right: 90px;
}
#resize {
    width: 400px;
    height: auto;
    padding-top: 20%;
    border-radius: 10px;
    animation: bounce 0.5s infinite alternate;
}

h2 {
    font-family:'Ubuntu', sans-serif;
    font-size: 25pt;
}
@keyframes bounce {
    100% {
      transform: translateY(20px);
    }
  }



